<div class="container" style="color:white">
    <div class="animated fadeIn">
        <label for="inputMDEx" id="labelId" style="color: black">ID de busca da planta</label>
        <div class="md-form">
            <input #titleInput type="text" id="inputMDEx" class="form-control">
            <button type="button" (click)='listarPlanta(titleInput.value)' class="btn btn-success">Enviar</button>
        </div>

        <div id="statusPlanta">
            <h3>{{planta.id_sensor}}</h3>
            <hr>
            <h4>Tipo da Planta: {{planta.nome_planta}}</h4>
            <h4>Umidade Atual: {{planta.umidade_atual}}%</h4>
            <h5>Intervalo de Umidade: {{planta.umidade_minima}}% ~ {{planta.umidade_maxima}}%</h5>
            <hr>
            <h5>Status</h5>
            <div id="status"
                [style.color]="planta.umidade_atual >= planta.umidade_minima && planta.umidade_atual <= planta.umidade_maxima ? 'green' : 'red'">
                &#9632;
            </div>
        </div>
    </div>
</div>

<!-- [style.backgroundColor]="planta.umidade_atual >= planta.umidade_minima && planta.umidade_atual <= planta.umidade_maxima ? '#4caf50' : '#cf000f' -->