.container{
    width: 25%;
    margin-left: calc(50% - 12.5%);
    text-align: center;
}

#labelId{
    margin-top: 1.2em;
    position: relative;
}

#inputMDEx{
    margin-top: 1.5em;
}

#statusPlanta{
    width: 70%;
    height: 20em!important;
    background-color: #4caf50;
    margin-left: calc(50% - 35%);
}
:host{
    background-color: #3E4551;
}

#status{
    font-size: 5em;
    position: absolute;
    margin-left: 7%;
    margin-top: -.3em;
} 