<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">
    <mdb-navbar-brand><a class="navbar-brand" href="#">ChallangeDB</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="plantas" routerLinkActive="active"
                    mdbWavesEffect>Sensores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="planta" routerLinkActive="active" mdbWavesEffect>Sensor</a>
            </li>
        </ul>
    </links>
</mdb-navbar>


<router-outlet></router-outlet>