<div class="container" style="margin-top: 2em;">
    <div class="animated fadeIn">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">ID Planta</th>
                        <th scope="col">Nome Planta</th>
                        <th scope="col">Umidade Atual</th>
                        <th scope="col">Umidade Minima e Máxima</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of plantas">
                        <th scope="row">{{x.id_sensor}}</th>
                        <td>{{x.nome_planta}}</td>
                        <td>{{x.umidade_atual}}</td>
                        <td>{{x.umidade_minima}} ~ {{x.umidade_maxima}}</td>
                        <td style="text-align: center;font-size: 1.2em" [style.color]="x.umidade_atual >= x.umidade_minima && x.umidade_atual <= x.umidade_maxima ? 'green' : 'red'">&#9632;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>